/*Logo*/
html{
    background-color: #93D973;
}
header img{
    position:absolute;
    top:0px;
    left:0px;
    
}
header {
    position: relative;

}

/*navigation*/
nav {
    
    top:0px;
    left:;
    background-color: #F2F2F2;
    list-style-type: none;
    width: 100%;
    height: 80px;
    
    
}
nav ul {
    padding-left: 350px;
    padding-right: 300px;
    padding-top: 0px;
    

}

nav ul li {
    display: inline-block;

}

nav a{
    display: inline-block;
    padding: 1rem;
    text-decoration:wavy;
    color: green;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    font-family: serif;
    
}

nav a:hover {
    background-color: #067302;
    color: white;
}

/*body*/
main{
    /*background-color: #93D973;*/
    width: 100%;
}
main section{
    background-color: #F2F2F2;
    width:auto;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    border:10px;
    margin: 10px;
    box-shadow: 2px 2px greenyellow;

}
main div{
    /*background-color: #93D973;*/
    width:100%;
}
section ul li{
    display: block;
}
body img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*footer*/
footer{
    font-style: oblique;
    background-color: #F2F2F2;

}